.string,
.language-html .tag:not(.punctuation, .attr-name, .attr-value, .special-attr) {
  color: var(--heat-100) !important;
}

.punctuation,
.operator {
  color: #c2c2c2 !important;
}

.language-html .attr-name {
  color: var(--black-alpha-64);
}

.comment {
  color: #999999 !important;
}

code:not(.language-html) .property:not(.literal-property),
.class-name,
code:not(.language-html) .function,
.language-json .boolean {
  color: #9061ff;
  color: color(display-p3 0.566 0.38 1);
}

.language-json .property {
  color: inherit !important;
}

.prismjs {
  padding-top: 20px;
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  font-weight: 400;
}

.prismjs code {
  color: var(--accent-black) !important;
}

.linenumber {
  width: 48px;
  padding: 0;
  font-style: normal;
  color: var(--black-alpha-12) !important;
  padding-left: 5rem !important;
  padding-right: 0 !important;
  text-align: left !important;
}
